<%-include('header')-%>


	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forgot password</h1>

				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Enter the username and new password</h3>
						<form class="row login_form" action='/send-otp?forgot=true' method="post" id="contactForm" onsubmit="return validateForm()">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group" id="password-field">
								<input type="password" class="form-control" id="npassword" name="npassword" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'">
							</div>
              <div class="col-md-12 form-group" id="password-field">
								<input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
							</div>
							<div class="col-md-12 form-group">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" class="primary-btn" id="send-otp-button">Send OTP</button>
								<p id="err" class="text-danger font-weight-bold"><%-errMessage-%></p>
                <p class="text-success font-weight-bold"><%-message-%></p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	
	
	
	<script>
		
		const loginForm = document.getElementById('contactForm');
	


		function validateForm() {
      const userName = document.getElementById("username").value;
      const npassword = document.getElementById("npassword").value;
      const cpassword = document.getElementById("cpassword").value;
      const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
			setTimeout(() => {
      err.textContent = '';
    }, 6000);
		

      // Handle validation for password login
      if (userName.trim() === '' || npassword.trim() === ''|| cpassword.trim() === '') {
        err.textContent = 'Fields are required';
        return false;
      }
    
		const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
      if (!emailRegex.test(userName.trim())) {
        err.textContent = 'Please enter a valid username.';
        return false;
      }
    if (!passwordRegex.test(npassword)) {
      err.textContent = "Please enter a tight password"
      setTimeout(() => {
         err.innerHTML = ''
      }, 5000);
      return false;
   }
   if (npassword.trim()!=cpassword.trim()){
    err.textContent = "passwords do not match"
      setTimeout(() => {
         err.innerHTML = ''
      }, 5000);
      return false;
   }
  
      return true;
    }

		window.onload = function () {
    setTimeout(() => {
      err.textContent = '';
    }, 5000);
  }
	</script>

	<%- include('footer') %>